body {margin-top: 50px; margin-left: 0; margin-right: 0; background-color: blue;}
#contenedor{width: 80%; margin: auto; padding: 30px; background-color: white;}
h1{padding-bottom: 20px; color: red;}
img{margin: 0px 30px 20px 0px; float: left;} 
p{text-align: justify;}