
*{margin: 0px; border: 0px; padding: 0px;}

html{border: 2px solid red;}

body{border: 2px solid yellow;}

#contenedor {width: 55%; margin: auto;}

.logo {margin: 10px 0px 10px 0px;}

.banner {width: 100%;}

main{display: flex;}

aside{width: 20%; border: 5px solid gray; background-color: green;}

aside a {display: block; font-size: 13pt; font-family: arial; text-decoration: none;}

aside a:hover {display: block; font-size: 13pt; font-family: arial; color: white; text-decoration: overline;}

section{width: 80%; display: flex; flex-direction: column; }

article{margin: 10px;}

article img {margin: 0px 20px 10px 0px; width: 25%; float: left; border: 2px dotted burlywood; border-radius: 15%; }

article p {text-align: justify;}

footer{background-color: gray; display: flex;}

footer p {width: 90%; margin: 30px 20px 30px 20px; color: white;}

footer div {margin: 10px; display: flex;}

footer div img {padding-right: 10px;}
